@import "variables.css";
@import "normalize.css";
@import "font.css";
@import "reset.css";

/* colors defined in variables.css */
:root {
	/* font */
	--sans: "Atlas Grotesk", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
	--serif: "Tiempos Text Web", Iowan Old Style, Times New Roman, Times, serif;
	--mono: Menlo, Consolas, Monaco, monospace;

	/* z-index */
	--z-bottom: -100;
	--z-middle: 0;
	--z-top: 100;
	--z-overlay: 1000;

	/* presets (used in reset.css) */
	--border-radius: 2px;
	--font-body: var(--serif);
	--font-form: var(--sans);
	--color-bg: var(--color-white);
	--color-fg: var(--color-gray-900);
	--color-primary: var(--color-black);
	--color-link: var(--color-black);
	--color-link-hover: var(--color-black);
	--color-focus: var(--color-red);
	--color-mark: var(--color-yellow);
	--color-selection: var(--color-gray-300);
	--color-border: var(--color-gray-300);
	--color-button-bg: var(--color-gray-300);
	--color-button-fg: var(--color-gray-900);
	--color-button-hover: var(--color-gray-400);
	--color-input-bg: var(--color-gray-50);
	--color-input-fg: var(--color-gray-900);
	--color-placeholder: var(--color-gray-500);
	/* "1" second duration */
	--1s: 1ms;
}

/* dark theme */
/* @media screen and (prefers-color-scheme:dark) {
	:root {
		
	}
} */

@media screen and (prefers-reduced-motion: no-preference) {
	:root {
		--1s: 1s;
	}
}

h1 {
	font-size: var(--48px, 48px);
}

h2 {
	font-size: var(--36px, 36px);
}

h3 {
	font-size: var(--28px, 28px);
}

h4 {
	font-size: var(--24px, 24px);
}

h5 {
	font-size: var(--22px, 22px);
}

h6 {
	font-size: var(--20px, 20px);
}

svg {
	display: block;
	width: 100%;
	height: auto;
}

html, #content, header {
	font-weight: 400;
	box-sizing: border-box;
	width: 100% !important;
}

html {
	overflow-x: hidden;
}
#content {
	font-family: var(--sans) !important;
	background: var(--bgcolor);
	color: var(--color-light);
}
.visualContainer {
	position: sticky;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100vh;
	overflow: hidden;
/* 	background-image:  url('assets/app/grain.png'); */
}
.reducedMotiontrue * {
	animation: none !important;
	transition: none !important;
}
.visualContainer .hedContainer {
	position: absolute;
	width:  100%;
	height: 100vh;
	text-align:  center;
	top: 0%;
	color:  var(--color-light);
}
.visualContainer .hedContainer .textBlock {
	bottom: 75%;
	left: 0px;
	width: 100%;
	position: absolute;
	margin: 0 auto;
}
.hedContainer h1 {
	font-size:  20px;
}
.hedContainer h3 {
	font-size:  16px;
}
.hedContainer h3 a {
	color: var(--color-hl);
	text-decoration: none;
	border-bottom:  1px solid var(--color-hl);
}
@keyframes bounce {
	0%, 100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(10px);
	}
}

.scrolldown {
	color: var(--color-hl);
	position: absolute;
	width: 100%;
	bottom: 200px;
	text-align: center;
	opacity: 0.5;
	font-size: 2.5rem;
	animation: bounce 1.5s infinite ease-in-out;
}

.step {
	pointer-events: none;
	height: auto;
	font-size: 17px;
	line-height: 22px;
	min-height: 0vh;
	position: relative;
	padding: 30vh 0 100vh;
	box-sizing: content-box;
}
@media screen and (max-width: 860px) {
	.step {
		font-size: 16px;
	}
}
@media screen and (max-width: 600px) {
	.step {
		font-size: 15px;
	}
}
.hidden.step {
	display:  none;
}
.bigText.step {
	background: var(--bgcolor);
	min-height: 100vh;
	margin: 30vh 0;
	/* 	padding:  50vh 0; */
	position: relative;
	padding: 5vh 0;
}
.bigText.step::before {
	content: "";
	position: absolute;
	bottom: 100%;
	height: 30vh;
	width: 100%;
	background: linear-gradient(
		to top,
		var(--bgcolor) 50%, 
		transparent 100%
	);
}
.bigText.step::after {
	content: "";
	position: absolute;
	top: 100%;
	height: 30vh;
	width: 100%;
	background: linear-gradient(
		to top,
		transparent 0%, 
		var(--bgcolor) 100%
	);
}
.bigText.step .textContainer {
	/* left:  50%;
	top:  50%;
	position: absolute;
	transform: translate(-50%, -50%); */
	background:  none;
	color: var(--color-light);
	border:  none;
	padding: 0 30px;
	max-width: 600px;
	width: 100%;
	box-shadow: none;
	line-height: 1.6rem;
	pointer-events: all;
	margin: 60px auto;
}
.bigText.step .textContainer p a {
	color:  var(--color-hl);
	border-bottom:  1px dashed var(--color-hl);
}
.bigText.step .textContainer p a:hover {
	border-bottom:  1px solid var(--color-dark);
}

.smallText.step .textContainer {
	background:  #fff;
	color:  var(--color-dark);
	max-width: 320px;
	width: 90%;
	left: 20px;
	padding: 1.2rem;
	box-shadow: 0px 0px 10px -6px #000;
	pointer-events: all;
	border-radius: 10px;
	position: relative;
}
.smallText.step {
	padding:  50vh 0 50vh;
}
.smallText.step .textContainer::after {
	content: '';
	position: absolute;
	top: calc(50% - 10px); /* Position below the container */
	right: calc(100% - 13px); /* Adjust to position the tail */
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 20px 20px 20px;
	border-color: transparent transparent #fff transparent;
	transform: rotate(270deg);
}
.quoteStep.step {
	margin-top: 0vh;
	padding: 20vh 0 20vh;
/* 	background: rgba(255,0,0,0.3); */
}
.quote {
	position: absolute;
	font-size: 17px;
	line-height:  22px;
	color:  black;
	background: white;
	box-shadow: 0px 0px 20px 0px #000;
	pointer-events: all;
	border-radius: 10px;
	padding: 1.2rem;
/* 	min-width: 150px;
	max-width: 400px; */
	width: 300px;
	transform-origin: top left;
	z-index:  999;
}

@media screen and (max-width: 860px) {
	.quote {
		font-size: 16px;
		line-height:  20px;
/* 		min-width: 150%; */
		padding: 1rem;
		width: 250px;
	}
}
@media screen and (max-width: 600px) {
	.quote {
		font-size: 15px;
		line-height:  19px;
		padding: 0.8rem;
		width: 200px;
	}
}
@media screen and (max-width: 450px) {
	.quote {
		font-size: 15px;
		line-height:  19px;
		padding: 0.8rem;
		width: 150px;
	}
	.quote.right {
		margin-left: 50px;
	}
}
.quote::after {
	content: '';
	position: absolute;
	bottom: 99%; /* Position below the container */
	left: 15px; /* Adjust to position the tail */
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 10px 20px 10px 20px;
	/* 	border-color: transparent transparent #fed4ff transparent; */
	/* 	border-color: transparent transparent transparent #fed4ff; */
	border-color: transparent transparent transparent white;
	transform: rotate(270deg);
}

.quote.right::after {
	left:  auto;
	right: 33%;
}
.zoomed5 .quote {
/* 	transform: scale(0.2); */
	margin-top: -10%;
}
/* .zoomed3 .quote {
	transform: scale(0.33333);
}
.zoomed2 .quote {
	transform: scale(0.5);
}
.zoomed15 .quote {
	transform: scale(0.6666);
} */
/* .zoomed .quote, .zoomed1 .quote {
	transform: scale(1);
} */
.step p a, .quote p a {
	color:  var(--color-dark-hl);
	border-bottom:  1px dashed var(--color-dark-hl);
	text-decoration: none;
}

.step .textContainer p label, .quote p label {
	background: #ffd375; /* Highlight color */
	padding: 0 2px; /* Add consistent horizontal padding */
	border-radius: 2px; /* Optional for rounded corners */
	box-decoration-break: clone; /* Ensures padding and background on line breaks */
	-webkit-box-decoration-break: clone; /* For Safari compatibility */
	display: inline; /* Keeps the text inline and allows natural line wrapping */
}

.textContainer p:first-child {
	padding-top:  0px;
	margin-top:  0px;
}

.textContainer p:last-child {
	padding-bottom:  0px;
	margin-bottom:  0px;
}
.step .textContainer .citation, .step .textContainer .citation a {
	font-size: 13px;
	opacity: 0.6;
	line-height: 17px;
	color: var(--color-light-hl);
}
.step .textContainer .citation {
	margin-top: 20px;
}
.mobileImage {
	display:  none;
}
.desktopImage {
	display: block;
	width: 120%;
	max-width: none;
	margin: 40px auto 40px -10%;
}
@media screen and (max-width: 800px) {
	.desktopImage {
		display: block;
		width: 100%;
		max-width: none;
		margin: 40px 0;
	}
}
@media screen and (max-width: 660px) {
	.mobileImage {
		display:  block;
	}
	.desktopImage {
		display: none;
	}
}
.smallText img {
	margin: 0;
	max-width: 100% !important;
}

.methodology {
	position: relative;
	width: 100%;
	max-width: 600px;
	padding: 50px 0 200px;
	margin: 0 auto 100px;
	line-height: 1.6rem;
	padding:  50px 20px 100px;
	background: #1f0c1d; /* Solid background */
}
.methodology a {
	color:  var(--color-hl);
	border-bottom:  1px dashed var(--color-hl);
}

.methodology::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 10px; /* Adjust height of wave */
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 120 10' preserveAspectRatio='none'%3E%3Cpath d='M0 5 Q 10 0, 20 5 T 40 5 T 60 5 T 80 5 T 100 5 T 120 5' stroke='%23f86eff' fill='none' stroke-width='2'/%3E%3C/svg%3E") repeat-x;
}

.methodology::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100px; /* Adjust height for smoother fade */
	background: linear-gradient(to bottom, rgba(31, 12, 29, 1) 0%, rgba(255, 255, 255, 0) 100%);
	pointer-events: none; /* Ensures it doesn't interfere with clicks */
}
.eyes img {
	image-rendering: -webkit-optimize-contrast;
	will-change: transform;
	backface-visibility: hidden;
}