@import "variables.css";
@import "normalize.css";
@import "font.css";
@import "reset.css";

/* colors defined in variables.css */
:root {
	/* font */
	--sans: "Atlas Grotesk", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
	--serif: "Tiempos Text Web", Iowan Old Style, Times New Roman, Times, serif;
	--mono: Menlo, Consolas, Monaco, monospace;

	/* z-index */
	--z-bottom: -100;
	--z-middle: 0;
	--z-top: 100;
	--z-overlay: 1000;

	/* presets (used in reset.css) */
	--border-radius: 2px;
	--font-body: var(--serif);
	--font-form: var(--sans);
	--color-bg: var(--color-white);
	--color-fg: var(--color-gray-900);
	--color-primary: var(--color-black);
	--color-link: var(--color-black);
	--color-link-hover: var(--color-black);
	--color-focus: var(--color-red);
	--color-mark: var(--color-yellow);
	--color-selection: var(--color-gray-300);
	--color-border: var(--color-gray-300);
	--color-button-bg: var(--color-gray-300);
	--color-button-fg: var(--color-gray-900);
	--color-button-hover: var(--color-gray-400);
	--color-input-bg: var(--color-gray-50);
	--color-input-fg: var(--color-gray-900);
	--color-placeholder: var(--color-gray-500);
	/* "1" second duration */
	--1s: 1ms;
}

/* dark theme */
/* @media screen and (prefers-color-scheme:dark) {
	:root {
		
	}
} */

@media screen and (prefers-reduced-motion: no-preference) {
	:root {
		--1s: 1s;
	}
}

h1 {
	font-size: var(--48px, 48px);
}

h2 {
	font-size: var(--36px, 36px);
}

h3 {
	font-size: var(--28px, 28px);
}

h4 {
	font-size: var(--24px, 24px);
}

h5 {
	font-size: var(--22px, 22px);
}

h6 {
	font-size: var(--20px, 20px);
}

svg {
	display: block;
	width: 100%;
	height: auto;
}

html, #content, header {
	font-family: var(--sans) !important;
	font-weight: 400;
	box-sizing: border-box;
	width: 100% !important;
	background: var(--bgcolor);
	color: var(--color-light);
}
html {
	overflow-x: hidden;
}
.visualContainer {
	position: sticky;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background-image:  url('assets/app/grain.png');
	background-size: 200px 200px;
}
.visualContainer .hedContainer {
	position: absolute;
	width:  100%;
	text-align:  center;
	bottom: 75%;
	color:  var(--color-dark);
}
.hedContainer h1 {
	font-size:  20px;
}
.hedContainer h3 {
	font-size:  16px;
}
.hedContainer h3 a {
	color: var(--color-hl);
	text-decoration: none;
	border-bottom:  1px solid var(--color-hl);
}

.step {
	pointer-events: none;
	height: auto;
	font-size: 17px;
	min-height: 0vh;
	position: relative;
	padding: 30vh 0 100vh;
	box-sizing: content-box;
}
@media screen and (max-width: 860px) {
	.step {
		font-size: 16px;
	}
}
@media screen and (max-width: 600px) {
	.step {
		font-size: 15px;
	}
}
.hidden.step {
	display:  none;
}
.bigText.step {
	background: linear-gradient(
		to bottom,
		transparent 0%, /* Start with the background color */
		var(--color-light) 15%, /* Fade to transparent at the top */
		var(--color-light) 85%, /* Background color in the middle */
		transparent 100% /* Fade to transparent at the bottom */
	);
	min-height: 100vh;
	height: 100%;
	margin: 30vh 0;
/* 	padding:  50vh 0; */
	position: relative;
}

.step .textContainer {
	background:  #fed4ff;
	color:  var(--color-dark);
/* 	border:  1px solid var(--bgcolor); */
	max-width: 520px;
	width: 95%;
	margin:  0 auto;
	padding: 1.2rem;
	line-height: 1.6em;
	box-shadow: 0px 0px 10px -6px #000;
	pointer-events: all;
}
.bigText.step .textContainer {
	left:  50%;
	top:  50%;
	position: absolute;
	transform: translate(-50%, -50%);
	background:  none;
	color: var(--color-dark);
	border:  none;
	padding: 0 30px;
	max-width: 600px;
	width: 100%;
	box-shadow: none;
}
.step p a {
	color:  var(--color-hl);
	border-bottom:  1px dashed var(--color-hl);
	text-decoration: none;
}
.bigText.step .textContainer p a {
	color:  var(--color-dark);
	border-bottom:  1px dashed var(--color-dark);
}
.bigText.step .textContainer p a:hover {
	border-bottom:  1px solid var(--color-dark);
}
.step .textContainer p label {
    background: #f5a7fa; /* Highlight color */
    padding: 0 2px; /* Add consistent horizontal padding */
    border-radius: 2px; /* Optional for rounded corners */
    box-decoration-break: clone; /* Ensures padding and background on line breaks */
    -webkit-box-decoration-break: clone; /* For Safari compatibility */
    display: inline; /* Keeps the text inline and allows natural line wrapping */
}

.textContainer p:first-child {
	padding-top:  0px;
	margin-top:  0px;
}

.textContainer p:last-child {
	padding-bottom:  0px;
	margin-bottom:  0px;
}
.step .textContainer .citation {
	font-size: 14px;
	opacity: 0.8;
}
/* @media screen and (max-width: 600px) {
	.step {
		
	}
} */